<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet" type="text/css">

<div id="content">
<div id="wargames">
<pre><code>

  _______                  _                  _    _             
 |__   __|                | |                | |  (_)            
    | |_ __ __ ___   _____| |_ __   __ _  ___| | ___ _ __   __ _ 
    | | '__/ _` \ \ / / _ \ | '_ \ / _` |/ __| |/ / | '_ \ / _` |
    | | | | (_| |\ V /  __/ | |_) | (_| | (__|   |  | | | | (_| |
    |_|_|  \__,_| \_/ \___|_| .__/ \__,_|\___|_|\_\_|_| |_|\__, |
                            | |                             __/ |
                            |_|                            |___/ 
              
const express = require('express');
const app = express();

//************************************************
//home page
app.get('/', (req, res, next) => {
    res.sendFile(__dirname + '/views/index.html')
});
//************************************************







app.listen(process.env.PORT);

console.log('Server coded with ❤︎ by Michel Maia');
console.log('Special thanks to Ironhack MIA - Sandra, Stefan and Marcos');
$ npm run dev
</pre></code>	
<h2><img src="https://nodejs.org/static/images/logo.svg" alt="nodejs logo" width="150" height="150"></h2>
</div>
</div>
